.message-input-wrap {
  display: flex;
  padding: 2px 10px;
  align-items: center;
}

.send-input {
  height: 22px;
  background: #F1F2F3;
  font-size: 16px;
  border-radius: 4px;
  padding: 8px 10px;
  width: 100%;
  margin: 5px 5px;
}

.send-input input {
  height: 22px;
}


.icon-wrap {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  margin: 0 4px;
  user-select: none;
}

.icon {
  width: 25px;
  height: 25px;
}

.audio-icon {
  background: url("../../../../assets/icon/audioButton.png") no-repeat center;
  background-size: 100% 100%;
}

.emoji-icon {
  background: url("../../../../assets/icon/emoji.png") no-repeat center;
  background-size: 100% 100%;
}

.plus-icon {
  background: url("../../../../assets/icon/plus.png") no-repeat center;
  background-size: 100% 100%;
}

.send-icon {
  background: url("../../../../assets/icon/send.png") no-repeat center;
  background-size: 100% 100%;
}

.prevent-event {
  pointer-events: none;
}