.login-wrap {
  width: 100%;
  height: 100%;
  padding: 150px 20px;
  box-sizing: border-box;
  background-image: url('https://uikit-demo.oss-cn-beijing.aliyuncs.com/demo-assets/loginbg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-title {
  color: #009eff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input-wrap {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  align-items: center;
  border-radius: 4px;
  background: #F9FAFA;
  padding: 16px;
  margin-top: 20px;
  justify-content: space-between;
}

.version {
  color: #F9FAFA;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  height: 18px;
  padding: 0 6px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.20);
}

.login-form-warp {
  margin-top: 20px;
}

.get-code {
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  flex-shrink: 0;
  width: 110px;
  margin-left: 10px;
  justify-content: flex-end;
  color: #009DFF;
}

.private-wrap {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 12px;
}

.server-config {
  margin-top: 10px;
  text-align: center;
}

.label {
  display: flex;
  align-items: center;
}

.privacy {
  color: #009DFF;
}

.input {
  width: 100%;
}

.login-btn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: linear-gradient(225deg, #009EFF 0.2%, #334BFF 100.2%);
  color: #F9FAFA;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0;
}