html,
body {
  height: 100%;
  width: 100%;
}

.uni-radio-input {
  width: 18px !important;
  height: 18px !important;
  border-radius: 4px !important;
}

.ellipsis {
  white-space: nowrap;
  /* 禁止换行 */
  overflow: hidden;
  /* 超出部分隐藏 */
  text-overflow: ellipsis;
  /* 使用省略号替代超出部分 */
}

.message-scroll-list {
  background-image: url("/static/chatbg.png");
  background-size: 231px 172px;
  background-repeat: no-repeat;
  background-position: center center;
}

.scroll-msg-item::after {
  display: flex;
  justify-content: center;
  content: "演示功能，无真实数据，仅限体验";
  color: #acb4b9;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  /* 142.857% */
  text-align: center;
  margin-top: 15px;
}


page {
  height: 100%;
  background: #f9fafa;
}